body{
  font-family: sans-serif;
  background-color: #7D6E83;
}

section {
  /* border: 1px solid red; */
  width: 500px;
  margin: 7rem auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 3rem;
  border-radius: 6px;
  background-color: #F8EDE3

}

.grocery-container{
  margin-top: 2rem;
}

.grocery-form h3{
  text-transform: capitalize;
  text-align: center;
  font-size: 1.6rem;

}
.form-control{
width: 100%;
display: flex;
justify-content: space-between;
}

.grorcery{
  flex: 1;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  background-color: rgb(230, 236, 234);
}

.submit-btn{
  border: none;
  padding: .5rem 1rem;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 600;
  background-color: brown;
  color: rgb(230, 227, 222);
}


article{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* margin: 1.4rem auto; */
}

.title{
  flex: 1;
}
.clear-btn{
  border: none;
  outline: none;
  padding: .5rem 1rem;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  border-radius: 4px;
  color: crimson;
  background-color: transparent;
  cursor: pointer;
}

.alert {
  border: 2px solid black;
  border-radius: 7px;
  text-align: center;
}

.alert-success {
  border: 2px solid green;
  color: green;
  background-color: lightgreen;
}

.alert-danger {
  border: 2px solid crimson;
  color: crimson;
  background-color: rgb(249, 225, 230);
}

.btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}

.btn-edit{
  margin-right: 12px;
}

.btn-edit:hover{
  color: teal;
  transition: all .3s;
}

.btn-delete:hover{
  color: crimson;
  transition: all .3s;
}
